*.7z   -text
*.avi   -text
*.bmp   -text
*.class -text
*.db    -text
*.dll   -text
*.doc   -text
*.docx  -text
*.eot   -text
*.exe   -text
*.exp   -text
*.fla   -text
*.flv   -text
*.FPT   -text
*.gif   -text
*.gz    -text
*.ico   -text
*.jar	-text
*.jpeg  -text
*.jpg   -text
*.JPG   -text
*.lib   -text
*.lnk   -text
*.mo    -text
*.mov   -text
*.mp3   -text
*.mp4   -text
*.msi   -text
*.mwb   -text
*.ogv   -text
*.otf   -text
*.otf   -text
*.pdb   -text
*.pdf   -text
*.pfx   -text
*.png   -text
*.PNG   -text
*.ppt   -text
*.pptx  -text
*.psd   -text
*.pyc   -text
*.svg   -text
*.swf   -text
*.tar   -text
*.tgz   -text
*.thmx  -text
*.tiff  -text
*.ttf   -text
*.wav   -text
*.webm  -text
*.wmv   -text
*.woff   -text
*.xap   -text
*.xls   -text
*.xlsx  -text
*.zip	-text
